addict==2.4.0
build==1.4.0
click==8.1.8
python-dotenv==1.2.1
importlib_metadata==8.7.1
matplotlib==3.9.1
mmcv==1.6.0
munkres==1.1.4
opencv-python==4.6.0.66
pandas==1.5.3
pip-tools==7.5.2
platformdirs==4.4.0
pyproject_hooks==1.2.0
pytz==2025.2
PyYAML==6.0.3
numpy==1.23.5
torch==1.12.1
torchvision==0.13.1
yapf==0.32.0
zstandard==0.23.0
fastapi
pydantic
uvicorn
onnxruntime
openai
Pillow
reportlab
