addict==2.4.0
build==1.4.0
click==8.1.8
importlib_metadata==8.7.1
matplotlib==3.9.1
mmcv-full==1.6.0
munkres==1.1.4
opencv-python==4.6.0
pandas==1.5.3
pip-tools==7.5.2
platformdirs==4.4.0
pyproject_hooks==1.2.0
PyQt5==5.15.7
PyQt5-sip==12.11.0
pytz==2025.2
PyYAML==6.0.3
torch==1.12.1+cu113
torchvision==0.13.1+cu113
yapf==0.32.0
zstandard==0.23.0
